{% extends "layout.html" %}
{% block content %}

<div class="again">
    <div class="card bg-light mb-3 mx-auto mt-5">
        <div class="card-header">{{words_log[-2]}}と言えば</div>
        <div class="card-body">
            <h1 class="card-title text-center mt-5 mb-5">{{word}}</h1>
        </div>
    </div>
    <div class="d-flex justify-content-between mx-auto my-5">
        <form action="/log" method="POST" class="mb-5">
            <button class="btn btn-primary" type="submit" name="session_id" value={{session_id}}>終了する</button>
        </form>
        <form action="" method="POST">
            <button class="btn btn-primary" type="submit" name="word" value={{word}}>くわしく</button>
        </form>
        <form action="/again" method="POST">
            <button class="btn btn-primary" type="submit" name="word" value={{word}}>もう一回</button>
            <input type="hidden" name="session_id" value={{session_id}}>
        </form>
    </div>
</div>


<div class="log mx-auto">
    <h1 class="text-center text-muted mt-4">履歴（Log）</h1>
    <table class="table mt-4">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">key</th>
                <th scope="col" class="text-center">{{words_log[0]}}</th>
            </tr>
        </thead>
        <tbody>
            {% for log in words_log[1:] %}
            <tr>
                <th scope="row" class="text-center">{{loop.index}}</th>
                <td class="text-center">{{log}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/" method="GET" class="text-center mt-3">
        <p><button class="btn btn-primary btn-lg mt-5" type="submit" name="word" value={{word}}>はじめからもう一回する</button><p>
    </form>
</div>

{% endblock %}