@import "compass";
@import url('https://fonts.googleapis.com/css?family=Abel');
@import "footer";


.img_iDea{
    margin: 0 auto;
    width: 50%;
    img{
        width: 100%;
    }
}

.top{
    width: 90%;
    margin: 0 auto;
}

.again{
    width: 90%;
    margin: 0 auto;
}

